@model IEnumerable<Carofour.Models.Categoria>

@{
    ViewBag.Title = "Boas Vindas";
}

@*<h3 class="centro">Categorias</h3>*@

@*<p class="centro">
    Selecione entre @Model.Count() categorias:
</p>*@

<div class="main-content">
    <div class="left">
        <h4>Somos o Grupo Carofour, pioneiros no varejo brasileiro. Desde de 1975 no Brasil,
            reunimos uma equipe com mais de 70.000 colaboradores que representam a diversidade
            deste país. Junto com os nossos fornecedores e parceiros, estamos comprometidos
            em satisfazer e encantar os consumidores todos os dias, construindo a nossa história
            com a sociedade. Nas mais de 200 lojas e nos diferentes pontos de contatos, nos
            relacionamos com mais de um milhão de pessoas todos os dias. As pessoas estão no
            centro do nosso negócio e, por isso, estamos abertos ao aprendizado constante e
            a buscar uma melhor maneira em tudo que fazemos.</h4>
    </div>
    <div class="right">
    @foreach (var x in Model)
    {
        <span>
            <a href="@x.href">
            <img src="@x.urlImagem" title="@x.nome" />
            <label>@x.nome</label></a>
        </span>
    }
    </div>
</div>
