@model Carofour.Models.Cliente

@{
    
    ViewBag.Title = "Fechamento da Compra";
}

<form>
    <div class="dados">

        <h3>Dados do Cliente</h3>

        @using (Html.BeginForm())
        {
            
            @Html.Label("Nome Completo")
            @Html.TextBoxFor(x => x.nomeCompleto)            
            @Html.Label("E-mail")
            @Html.TextBoxFor(x => x.email)
            @Html.Label("Data de Nascimento")
            @Html.TextBoxFor(x => x.dataNascimento)
            @Html.LabelFor(x => x.sexo)
            @Html.TextBoxFor(x => x.sexo)
            @Html.LabelFor(x => x.endereco)
            @Html.TextBoxFor(x => x.endereco)
            @Html.LabelFor(x => x.telefone)
            @Html.TextBoxFor(x => x.telefone)

  
            
            <input type="submit" value="Enviar" name="Enviar" />

 
        }


    </div>


</form>
